/* Social media Container................................... */
.socialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px 0;
}

.socialContainer p {
  font-family: var(--font-montserrat);
  font-size: 25px;
  font-weight: 900;
  line-height: 49px;
  color: #241400;
}

.socialContainer .mediaContent {
  display: flex;
  gap: 50px;
}

/* Navbar style  START------------------------------------------------------- */

header {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #f5f5f5;
  position: fixed;
  z-index: 99;
}

.headerContainer {
  height: 80px;
}

.linkContent ul {
  display: flex;
  justify-content: center;
  gap: 21px;
}

.linkContent ul li a {
  font-size: 16px;
  font-weight: 500;
  color: var(--clr-black);
}

.joinButton {
  padding: 10px 15px;
  background: transparent;
  font-family: var(--font-montserrat);
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.joinButton:hover {
  transition: all 1s;
  transform: scale(1.08, 1.08);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 42px;
}

ul li a.check {
  font-weight: 700;
  color: var(--clr-orange);
  border-bottom: 1px solid var(--clr-orange);
}

/* Navbar style  END------------------------------------------------------- */

/* Footer Content Start--------------------------------------------------------------- */

.footerContainer {
  background-color: var(--clr-light-black);
  padding: 56px 0px 10px 0px;
}

.textContent {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.text1 {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 13px;
  color: white;
}

.footerContact {
  width: 22%;
}

.endText {
  font-size: 12px;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.umumicontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.footerLogo {
  width: 30%;
}

.footerFlex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.num {
  font-size: 13px;
  font-weight: 700;
  color: white;
}

.footerBtn {
  background-color: var(--clr-light-black);
  border: 1px solid var(--clr-orange);
  color: var(--clr-orange);
  font-size: 16px;
  padding: 5px 10px;
}

/* section1-------------------------------------- */

.leftText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
}

.rightImg {
  width: 50%;
}

.t1 {
  font-weight: 900;
  font-size: 36px;
  color: var(--clr-black);
}

.t2 {
  font-size: 13px;
  color: var(--clr-black);
  margin: 20px 0px;
}

.catalogButton {
  padding: 10px 14px;
  width: 60%;
  background-color: var(--clr-orange);
  border: none;
  box-shadow: 2px 2px 5px 0.15px rgb(78, 76, 76);
}

.catalogButton a {
  color: white;
  font-weight: 900;
  font-size: 15px;
}

.catalogButton:hover {
  transition: all 0.6s;
  transform: scale(1.06, 1.06);
}

.section1Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 230px 0 60px;
}

.btnsCatalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
}

.section2Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.cBtn {
  width: 242px;
  height: 76px;
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 3px 5px 0.2px rgb(103, 101, 101);
}

.cBtn a {
  color: var(--clr-black);
  font-size: 14px;
  font-weight: 700;
}

.cBtn:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s;
}

.sec3Text {
  width: 25%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sec3Num {
  font-size: 40px;
  font-weight: 900;
  color: black;
}

.section3Content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 136px;
  margin-bottom: 120px;
}

.sec4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin-bottom: 120px;
}

/* Home Page Mobile--------------------- */

/* About section start.............................................. */
@media only screen and (max-width: 1200px) {
  .about-container {
    flex-direction: column-reverse;
    text-align: center;
  }
}

.about-container {
  padding: 150px 0 180px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.socialContainer {
  margin-bottom: 133px;
}

.about-container h1 {
  font-family: var(--font-montserrat);
  font-size: 36px;
  font-weight: 900;
  line-height: 71px;
}

.about-container .title {
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
}

/* About section end.................................................*/

/* Book Page section start.................................................*/

.bookPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageLeft {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.backButton {
  width: 25%;
  color: white;
  background-color: var(--clr-orange);
  font-weight: 600;
  font-size: 18px;
  padding: 8px 20px;
  border: none;
  box-shadow: 2px 2px 5px 0.2px rgb(153, 146, 146);
  margin-bottom: 50px;
  border-radius: 7px;
}

.year {
  width: 25%;
  background-color: #2f80ed;
  padding: 8px 18px;
  color: white;
  font-weight: 700;
  border: none;
  font-size: 18px;
  box-shadow: 2px 2px 5px 0.2px rgb(151, 144, 144);
  margin-bottom: 10px;
  border-radius: 7px;
}

.bookName {
  font-size: 35px;
  color: var(--clr-black);
  font-weight: 700;
  margin: 15px 0px 0px 0px;
}

.time {
  font-size: 16px;
  color: var(--clr-black);
  font-weight: 700;
}

.author {
  font-size: 25px;
  color: var(--clr-black);
  font-weight: 400;
}

.title {
  font-size: 18px;
  color: var(--clr-black);
  font-weight: 400;
}

.pageRight {
  width: 40%;
}

.userName {
  font-size: 16px;
  font-weight: 500;
}

/* Book Page section end.................................................*/

/* Contact us Page section start.................................................*/

.contactInput {
  padding: 15px 20px;
  width: 45%;
  outline: 1px solid var(--clr-orange);
  border: none;
}

.textareaContact {
  padding: 15px 20px;
  width: 100%;
  outline: 1px solid var(--clr-orange);
  border: none;
}

.contactButton {
  padding: 15px 60px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  background-color: var(--clr-orange);
  border: none;
  margin-top: 54px;
}

.inputFlex {
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
}

.contactHeader {
  font-size: 36px;
  font-weight: 900;
  line-height: 71px;
  text-align: left;
  color: var(--clr-black);
  margin-bottom: 15px;
}

.contactContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputCommet {
  width: 60%;
  padding: 15px 0px 15px 25px;
  border: none;
  box-shadow: 0px 0px 7px 0.5px rgb(159, 154, 154);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: 1px solid transparent;
}

.sendButton {
  color: white;
  background-color: var(--clr-orange);
  font-size: 15px;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 13px 15px;
  box-shadow: 3px 2px 8px 0.5px rgb(159, 154, 154);
}

.inputContent {
  display: flex;
}

.commentText {
  background-color: white;
  box-shadow: 0px 0px 5px 0.5px rgb(159, 154, 154);
  border-radius: 5px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  width: 60.6%;
  margin-top: 50px;
  gap: 25px;
}

.userName {
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--clr-black);
}

.dateUser {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--clr-black);
}

.textArea {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--clr-black);
}

.textTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
}

.commentContainer {
  margin-top: 122px;
}

/* Contact us Page section end.................................................*/

/* Search Page section start.................................................*/

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.searchBookContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searchLeft {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searchTitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 71px;
  text-align: left;
  color: var(--clr-black);
}

.searchInput {
  padding: 15px;
  width: 90%;
  border: none;
  outline: 1px solid var(--clr-orange);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.searchButton {
  border: none;
  background-color: var(--clr-orange);
  padding: 15px 30px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  width: 100%;
}

.searchRight {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.bookAboutContent {
  width: 90%;
  padding: 30px 40px;
  background-color: white;
  box-shadow: 0px 7px 7px 0.5px grey;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.searchBookName {
  font-size: 24px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  color: var(--clr-black);
}

.searchBookAuthor {
  color: var(--clr-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
}

.searchBookText {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.joinContent {
  display: flex;
  gap: 15px;
  align-items: center;
}

.hamburger {
  height: 30px;
  display: none;
}

/* Catalog Page Start..................................*/
.catalog-container {
  padding: 140px 0;
}
.section1{
  margin-top: 50px;
}
.book-list {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-list span {
  font-family: var(--font-montserrat);
  font-size: 25px;
  font-weight: 900;
  line-height: 49px;
  color: #241400;
}

.book-type {
  width: 50%;
  overflow-x: auto;
  white-space: nowrap;
  height: 60px;
}

.book-type ul {
  display: flex;
  gap: 20px;
}

.book-type ul a {
  font-family: var(--font-montserrat);
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  color: #241400;
}

.book-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 194px;
  padding: 30px;
  background-color: #ffff;
  box-shadow: 0px 4px 15px 0px #00000040;
}

.book-about img {
  width: 100%;
}

.book-about .name {
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 700;
  color: #241400;
}

.book-about .author {
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.book-about button {
  width: 100%;
  padding: 5px;
  box-shadow: 0px 3px 8px 0px #e16a0030;
  border: none;
  border-radius: 3px;
  background-color: var(--clr-orange);
}

.book-about button a {
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 900;
  line-height: 24px;
  color: #ffff;
}

/* Swiper... */
.swiper-slide {
  width: 300px !important;
}

/* Catalog Page End....................................*/

/* Responsivliklerrrrrrr */

/* Home Page Responsive */

@media only screen and (max-width: 600px) {
  .searchLeft {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .searchInput {
    width: 92% !important;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
  }

  .joinButton {
    padding: 0;
  }

  .joinButton img {
    width: 25px;
  }

  .joinText {
    display: none;
  }

  .linkContent {
    display: none;
  }

  .section1Content {
    padding-top: 180px;
    flex-direction: column;
  }

  .catalogButton {
    width: 80%;
  }

  .leftText {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .rightImg {
    width: 100%;
    padding-top: 30px;
  }

  .sec3 {
    justify-content: center;
  }

  .section3Content {
    width: 60%;
    justify-content: center;
    flex-direction: column;
  }

  .sec3Text {
    width: 100%;
    justify-content: start;
  }

  .sec3Num {
    font-size: 50px;
  }

  .sec4 .text {
    text-align: center;
  }

  .about-container .left {
    width: 40%;
  }

  .about-container .right {
    width: 50%;
  }

  .about-container .right img {
    width: 100%;
  }

  .contactHeader {
    text-align: center;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .contactButton {
    margin-top: 30px;
  }

  /* Footer....................................... */

  .textContent {
    display: none;
  }

  .footerLogo {
    width: 100%git;
    display: flex;
    justify-content: center;
  }
}

/* Contact Us Page Responsive */

@media only screen and (max-width: 600px) {
  .contactInput {
    width: 80%;
  }

  .textareaContact {
    width: 80%;
  }

  .contactButton {
    width: 90%;
  }

  .contactFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inputFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bookPage {
    flex-direction: column-reverse;
  }

  .pageLeft {
    width: 100%;
    text-align: center;
  }

  .pageRight {
    width: 100%;
  }
/* 
  .backButton {
    margin-top:500px;
  } */

  .bookPage {
    padding: 0px 0px 10px !important;
  }

  .commentText {
    width: 80%;
  }

  .inputContent {
    justify-content: center;
  }
}

/* Search Home Page;s Responsive */

@media only screen and (max-width: 600px) {
  .searchContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .searchTitle {
    text-align: center;
  }

  .searchInput {
    width: 82%;
  }

  .bookAboutContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }
}

/* Join Us Modal------------------------------------ */

body {
  position: relative;
}

@media only screen and (max-width: 600px) {
  .joinModal.exit {
    width: 65%;
    transform: translate(-7%, 30%) !important;
  }
}

.joinModal {
  width: 30%;
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  z-index: 101;
  position: absolute;
  /* top: 15%;
  left: 50%; */
  transform: translate(-100%, -100%);
}

.joinModal.exit {
  top: 0%;
  left: 18%;
  transform: translate(50%, 50%);
  transition: 1s;
}

.joinModalTitle {
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  color: var(--clr-black);
}

.joinModal input {
  width: 90%;
  padding: 20px;
  border: none;
  outline: 1px solid var(--clr-orange);
}

.joinModalBtn {
  width: 100%;
  background-color: var(--clr-orange);
  border: none;
  padding: 20px;
  font-weight: 600;
  color: white;
}

.bgDark {
  width: 100%;
  top: -100;
  bottom: 0;
  left: 0;
  background: #00000090;
  position: absolute;
  z-index: 100;
}

.bgDark.show {
  top: 0;
  transition: 1s;
}

.linkContentModal {
  background: #241400e8;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 60px 20px;
  position: absolute;
  left: -100%;
  bottom: 0;
  top: 0;
  z-index: 103;
  transition: 1s;
}

.homeModalCross {
  width: 20px;
}

.linkContentModal.showModalHome {
  width: 91%;
  transition: 1s;
  top: 0;
  left: 0%;
  bottom: 0%;
}

.linkContentModal ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 30px;
  gap: 15px;
}

.linkContentModal a {
  font-size: 18px;
  color: white;
  font-weight: 500;
}